* {
  box-sizing: border-box;
}

#calculator {
  border: 2px solid black;
  padding: 20px;
  background-color: #444;
  border-radius: 20px;
  width: min(90%, 600px);
  margin: auto;
}

#display {
  padding: 20px;
  width: 100%;
  background-color: green;
  margin-bottom: 20px;
  text-align: right;
  color: aliceblue;
  font-size: 2rem;
  min-height: 80px;
  overflow-wrap: anywhere;
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#buttonsContainer button {
    flex-basis: 23%;
    margin: 1%;
    flex-grow: 1;
    font-size: 1.5rem;
}
